/* line 17, ../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.2-p318/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*start*/
/* line 7, ../sass/style.scss */
.photoBox {
  position: fixed;
  background-color: #000000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 99.3%;
  height: 98%;
  overflow: hidden;
  margin: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #333333 0px 0px 15px;
  -moz-box-shadow: #333333 0px 0px 15px;
  box-shadow: #333333 0px 0px 15px;
}

/* line 21, ../sass/style.scss */
.photoBox.hidden {
  visibility: hidden;
}

/* line 24, ../sass/style.scss */
#photoBoxShadow {
  width: 0%;
  height: 0.5%;
}

/* line 30, ../sass/style.scss */
#photoBoxShadow.close {
  -webkit-transition: height 0.2s ease 0, width 0.3s ease 0.2s;
  -moz-transition: height 0.2s ease 0, width 0.3s ease 0.2s;
  -ms-transition: height 0.2s ease 0, width 0.3s ease 0.2s;
  -o-transition: height 0.2s ease 0, width 0.3s ease 0.2s;
  transition: height 0.2s ease 0, width 0.3s ease 0.2s;
  width: 0%;
  height: 0.5%;
}

/* line 35, ../sass/style.scss */
#photoBoxShadow.open {
  -webkit-transition: width 0.3s ease 0, height 0.2s ease 0.3s;
  -moz-transition: width 0.3s ease 0, height 0.2s ease 0.3s;
  -ms-transition: width 0.3s ease 0, height 0.2s ease 0.3s;
  -o-transition: width 0.3s ease 0, height 0.2s ease 0.3s;
  transition: width 0.3s ease 0, height 0.2s ease 0.3s;
  width: 99.3%;
  height: 98%;
}

/* line 40, ../sass/style.scss */
.photoBox .pb-viewer {
  position: absolute;
  height: 740px;
  width: 100%;
}

/* line 46, ../sass/style.scss */
.pb-viewer .pb-layer {
  margin: 20px;
  position: absolute;
  width: 940px;
  height: 100%;
  line-height: 100%;
}

/* line 54, ../sass/style.scss */
.pb-viewer > .pb-layer > .pb-main-image {
  position: absolute;
  display: block;
  width: 100%;
  height: 90%;
  background-position: center center;
  background-size: cover;
  -webkit-box-reflect: below 1px -webkit-linear-gradient(transparent, transparent 90%, rgba(0, 0, 0, 0.6));
  box-reflect: below 1px -webkit-linear-gradient(transparent, transparent 90%, rgba(0, 0, 0, 0.6));
  min-width: 128px;
  min-height: 128px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.9) 0 0 25px, rgba(128, 128, 128, 0.8) 0 0 3px 1px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.9) 0 0 25px, rgba(128, 128, 128, 0.8) 0 0 3px 1px inset;
  box-shadow: rgba(255, 255, 255, 0.9) 0 0 25px, rgba(128, 128, 128, 0.8) 0 0 3px 1px inset;
  -webkit-transition: width 0.3s, height 0.3s, margin-left 0.3s, margin-top 0.3s;
  -moz-transition: width 0.3s, height 0.3s, margin-left 0.3s, margin-top 0.3s;
  -ms-transition: width 0.3s, height 0.3s, margin-left 0.3s, margin-top 0.3s;
  -o-transition: width 0.3s, height 0.3s, margin-left 0.3s, margin-top 0.3s;
  transition: width 0.3s, height 0.3s, margin-left 0.3s, margin-top 0.3s;
}
/* line 68, ../sass/style.scss */
.pb-viewer > .pb-layer > .pb-main-image img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 73, ../sass/style.scss */
.pb-viewer > .pb-layer > .pb-main-image.loading {
  background-image: url(../images/image-loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

/* line 82, ../sass/style.scss */
.pb-viewer > .pb-desc {
  right: 0px;
  margin: 40px 20px 20px 20px;
  width: 290px;
  height: 100%;
  position: absolute;
  overflow: scroll;
  /*TODO: desc can be hide*/
  display: none;
}
/* line 91, ../sass/style.scss */
.pb-viewer > .pb-desc .pb-title {
  color: #CCC;
  font-size: 24px;
}

/* line 96, ../sass/style.scss */
.photoBox > .pb-close {
  z-index: 1;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}
/* line 107, ../sass/style.scss */
.photoBox > .pb-close a {
  text-decoration: none;
  color: #FFF;
}
/* line 111, ../sass/style.scss */
.photoBox > .pb-close a:hover {
  font-size: 16px;
}

/* line 116, ../sass/style.scss */
.photoBox > .pb-preview {
  position: absolute;
  background-color: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  width: 100%;
  height: 160px;
  bottom: 0px;
}

/* line 124, ../sass/style.scss */
.pb-spliter {
  border-top: dotted 2px #FFF;
  height: 4px;
  margin: 0px 25px;
}

/* line 129, ../sass/style.scss */
.photoBox > .pb-preview > .pb-list-wrapper {
  width: 1210px;
  height: 100%;
  overflow: hidden;
  padding: 8px;
  margin-left: 30px;
}

/* line 136, ../sass/style.scss */
.photoBox > .pb-preview .pb-list {
  white-space: nowrap;
  display: inline-block;
  left: 0px;
}

/* line 141, ../sass/style.scss */
.photoBox > .pb-preview .pb-list > li {
  width: 150px;
  height: 120px;
  margin: 4px;
  float: left;
  background-size: cover;
}
/* line 147, ../sass/style.scss */
.photoBox > .pb-preview .pb-list > li.loading {
  background-image: url(../images/image-loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
/* line 153, ../sass/style.scss */
.photoBox > .pb-preview .pb-list > li a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}
/* line 159, ../sass/style.scss */
.photoBox > .pb-preview .pb-list > li a.active, .photoBox > .pb-preview .pb-list > li a:hover {
  -webkit-box-shadow: rgba(255, 255, 255, 0.9) 0 0 25px, rgba(128, 128, 128, 0.8) 0 0 3px 1px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.9) 0 0 25px, rgba(128, 128, 128, 0.8) 0 0 3px 1px inset;
  box-shadow: rgba(255, 255, 255, 0.9) 0 0 25px, rgba(128, 128, 128, 0.8) 0 0 3px 1px inset;
}

/* line 164, ../sass/style.scss */
.photoBox > .pb-preview > .pb-left-handler {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #FFF;
  position: absolute;
  top: 50%;
  margin-left: 10px;
  margin-top: -10px;
  cursor: pointer;
}
/* line 175, ../sass/style.scss */
.photoBox > .pb-preview > .pb-left-handler a {
  margin-top: -12px;
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
}

/* line 183, ../sass/style.scss */
.photoBox > .pb-preview > .pb-right-handler {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #FFF;
  position: absolute;
  top: 50%;
  right: 0px;
  margin-right: 10px;
  margin-top: -10px;
  cursor: pointer;
}
/* line 195, ../sass/style.scss */
.photoBox > .pb-preview > .pb-right-handler a {
  margin-top: -12px;
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
}
